.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100vh;
  box-shadow: 2px 0px 20px 3px #eee;
  z-index: var(--z-side-bar);
}

.side-bar__container-logo {
  padding: 16px 24px;
  height: 60px;
}

.side-bar__info {
  padding: 24px;
}

.side-bar__menu-item {
  padding: 16px 24px;
}

.side-bar__menu-item:hover .side-bar__item-icon,
.side-bar__menu-item:hover .side-bar__item-content {
  color: var(--hover-color);
}

.side-bar__menu-item--active .side-bar__item-icon,
.side-bar__menu-item--active .side-bar__item-content {
  color: var(--active-color);
}

.side-bar__item-icon {
  font-size: 2rem;
}

.nav-bar {
  width: calc(100vw - 256px);
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-nav-bar);
}

.nav-bar-btn-noti {
  padding: 20px;
  border: none;
  background-color: #fff;
  z-index: var(--z-notify);
}

.container-noti {
  position: relative;
}

.container-icon-noti {
  position: relative;
}

.noti-maker {
  content: '';
  right: 0px;
  top: 1px;
  width: 8px;
  height: 8px;
  background: var(--red-color);
  border-radius: 9999px;
  border: 1px solid #fff;
  position: absolute;
}

.nav-bar-btn-noti:hover .nav-bar-btn-noti-icon {
  color: var(--hover-color);
}

.notify-list { 
  position: absolute;
  top: 100%;
  right: 20px;
  width: 380px;
  box-shadow: 0px 15px 20px 3px #eee;
  overflow-y: auto;
  max-height: 400px;
  z-index: 100;
  background: #fff;
}

.container-main-content{
  overflow-x: hidden;
  background: var(--bg-color);
  position: relative;
  top: 60px;
  left: 256px;
  width: calc(100vw - 256px);
  height: calc(100vh - 60px);
  padding: 36px;
}